<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<h1>List</h1>
		</div>
		

	</div>
<div class="col-sm-12" style="padding-right:20px;padding-left:20px;"><br>

<table class="table table-hover">
	<tr>
		<th>
			Title
		</th>
		<th>
			Description
		</th>
		<th>
			Type
		</th>
		<th>
			Status
		</th>
		<th>
			Project
		</th>
		<th>
			Creator
		</th>
		<th>
			Developer
		</th>
		<th>
			Created
		</th>
		<th>
			Image
		</th>
		<th colspan=3>
			Actions
		</th>
		
	</tr>
		<% features.each do |d| %>
		<tr>
			<td>
				<%= d.title %>
			</td>
			<td>
				<%= d.description %>
			</td>
			<td>
				<%= d.feature_type %>
			</td>
			<td>
				<%= d.status %>
			</td>
			<td>
				<%= d.project.name %>
			</td>
			<td>
				<%= d.creator.name %>
			</td>
			<td>
				<%= d.developer.name || d.developer.email %>
			</td>
			<td>
				<%= time_ago_in_words(d.created_at) %> ago
			</td>
			<td>
				<%= image_tag d.avatars, width: 100 %>
			</td>
			<td>
				<%= link_to 'Edit', edit_project_feature_path(d.project,d), class: "btn btn-warning"%>
			</td>
			<td>
				<%= link_to 'Show', feature_path(d) , class: "btn btn-info" %>
			</td>
			<td>
				<%= link_to 'Delete', project_feature_path(d.project,d), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
			</td>
		</tr>
		<% end %>
</table>
</div>
</div>