<div class="row">
	<div class="col-sm-12" >
		<div class="col-sm-12">
			<h2>Feature</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" >
		<div class="col-sm-6">
			<table class="table table-bordered">
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Type</th>
					<th>Status</th>
					<th>Project</th>
					<th>Creator</th>
					<th>Developer</th>
					<th>Image</th>
				</tr>
				<tr>
					<td><%= @feature.title %></td>
					<td><%= @feature.description %></td>
					<td><%= @feature.feature_type %></td>
					<td><%= @feature.status %></td>
					<td><%= @feature.project.name %></td>
					<td><%= @feature.creator.name %></td>
					<td><%= @feature.developer.name %></td>
					<td><%= image_tag @feature.avatars, width: 100 %></td>
				</tr>
			</table>
		</div>
	</div>
</div>





